body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(-45deg, #ff6a00, #ee0979, #00c6ff, #0072ff);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    text-align: center;
    color: white;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.card {
    background: rgba(255,255,255,0.9);
    color: black;
    padding: 25px;
    border-radius: 12px;
    width: 280px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    margin-top: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

.result-box {
    margin: 20px auto;
    padding: 15px;
    width: 50%;
    background: rgba(255,255,255,0.9);
    color: black;
    border-radius: 10px;
}

#result {
    white-space: pre-line;
}